* {
    padding: 0;
    margin: 0;
}
body {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
    background-color: black;
}
p {
    width: 50%;
    margin: 0 auto;
    padding-top: .8em;
    margin-top: .8em;
    font-size: 19px;
    color: whitesmoke;
}